@model IEnumerable<acemsoncall.web.Models.EntityModel.EMSContent>

@{
    ViewBag.Title = "EMSContents";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="width:70%;">
            Title
        </th>
        <th>
            Type
        </th>
        <th>
            Last Updated
        </th>
        <th></th>
    </tr>

    @{
   
    }

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/EMSContents/Details/@item.id">@item.title</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenttype)
        </td>
        <td>
            @if (item.updatedt == null){
                @item.registdt.ToString("MM/dd/yy")
            }
            else{
                @item.updatedt.Value.ToString("MM/dd/yy")
            }
        </td>
        <td>
            @Html.ActionLink("🗑️", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
