@model IEnumerable<acemsoncall.web.Models.EntityModel.EMSMessage>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>
<div class="row">&nbsp;</div>


<p style="display:block;">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Message Title
        </th>
        <th>
            Time Sent
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/EMSMessages/Details/@item.id">@item.MessageTitle</a>
                @* @Html.ActionLink(item.MessageTitle, "Details", new { id = item.id }) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageTimeSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser1.MemberName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
