@model IEnumerable<acemsoncall.web.Models.EntityModel.EMSMessage>

@{
    ViewBag.Title = "Sent";
}

<h2>@ViewBag.Title</h2>
<div class="row">&nbsp;</div>


<p style="display:block;">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th style="width:70%;">
            Title
        </th>
        <th>
            To
        </th>
        <th>
            Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/EMSMessages/Details/@item.id">@item.MessageTitle</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser1.MemberName)
            </td>
            <td>
                @(item.MessageTimeSent.Date == DateTime.Now.Date? item.MessageTimeSent.ToString("HH:mm") : item.MessageTimeSent.ToString("MM/dd"))
            </td>
            <td>
                @Html.ActionLink("🗑️", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
